@import "functions";
@import "reset";
@import "base";
@import "grid";


$white: #fff;
$accent: #ff9800;
$mobile-screen: only screen and (min-width: 480px);

html, body { height: 100%; }

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.624;
}

@mixin banner-image($size: 1) {
    $bg: darken(fade-out($accent, .3), 30%);

    background-image: linear-gradient(to bottom, $bg, $bg), url(../../assets/cover@#{$size}x.jpg);
}

.cover {
    @include banner-image;

    background-color: rgba(255, 152, 0, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;

    &-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        color: $white;
        padding: .5em;

        @media #{$mobile-screen} {
            font-size: 4em;
            padding: .25em;
        }
    }

    // Landscape orientation
    @media only screen and (orientation: landscape) {
        @include banner-image(1);

        @include retina(1.3) { @include banner-image(1.5); }

        @include retina(2) { @include banner-image(2); }

        @include retina(3) { @include banner-image(3); }
    }

    @media only screen and (min-device-width: 320px) and (orientation: landscape) {
        @include banner-image(1.3);

        @include retina(1.3) { @include banner-image(2); }

        @include retina(2) { @include banner-image(3); }
    }

    @media only screen and (min-device-width: 414px) and (orientation: landscape) {
        @include banner-image(2);

        @include retina(1.3) { @include banner-image(3); }
    }

    @media only screen and (orientation: potrait) {
        @include banner-image(2);

        @include retina(1.3) { @include banner-image(3); }
    }

    @media only screen and (min-device-width: 320px) and (orientation: potrait) { @include banner-image(3); }
}

.logo {
    line-height: 1.2;

    @media #{$mobile-screen} { line-height: 1.4; }

    &-wrapper { padding: .5em; }

    > h1 {
        font-size: 1.2em;
        margin: 0;

        @media #{$mobile-screen} { font-size: 1.5em; }
    }

    > span {
        font-size: .75em;
        opacity: .5;

        @media #{$mobile-screen} { font-size: 1em; }
    }
}

.tel {
    &:before {
        content: url("data:image/svg+xml; utf8, <svg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><path d='M3.6 7.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.7-.4 1-.2 1.1.4 2.3.6 3.6.6.6 0 1 .4 1 1V17c0 .6-.4 1-1 1C7.6 18 0 10.4 0 1c0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.2.2 2.4.6 3.6.1.3 0 .7-.2 1L3.6 7.8z' fill='rgba(255,255,255,1)' fill-rule='evenodd'/></svg>");
        margin-right: 1em;
        vertical-align: -.25em;
    }
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $white;

    &-left { float: left; }

    &-right { float: right; }

    > ul {
        list-style: none;
        margin: 0;

        @media #{$mobile-screen} { padding: 1em; }

        > li {
            float: left;

            > a {
                display: block;
                padding: 1em;
                color: currentColor;
                text-decoration: none;
                border: 0;
            }
        }
    }
}

@include grid($gutter: 1em);

.section-content {
    max-width: 60em;
    margin: auto;
    padding: 2em;
}

.address-section {
    background-color: rgba(0, 0, 0, .025);

    .map {
        background-image: url(../../assets/map.png);
        background-size: auto 100%;
        background-position: center;
        height: 12em;
        width: 100%;
        display: block;
        border-radius: 3px;
        border: 0;
    }
}

.photo-stream {
    .photo {
        border: 0;

        > img { border-radius: 3px; }
    }
}

.event-section {
    .event-preview { border-radius: 3px; }
}

footer {
    background-color: rgba(0, 0, 0, .025);

    .social {
        color: currentColor;
        font-size: 1.2em;
        font-weight: 700;
        border: 0;
        opacity: .5;

        &:before {
            margin-right: .5em;
            vertical-align: -.25em;
        }

        &:focus, &:hover, &:active { background-color: transparent; }

        &:hover { opacity: .8; }

        &:active { opacity: 1; }
    }

    [href*=facebook] {
        &:before {
            content: url("data:image/svg+xml; utf8, <svg width='24' height='24' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><title>facebook</title><path d='M19.646 9.3v6.61h-4.843v8.082h4.843v24.02h9.95v-24.02h6.675s.626-3.875.93-8.113H29.63V10.35c0-.826 1.085-1.937 2.157-1.937h5.42V0h-7.37C19.4 0 19.646 8.09 19.646 9.3z' fill='rgba(0,0,0,1)' fill-rule='evenodd'/></svg>");
        }
    }

    [href*=youtube] {
        &:before {
            content: url("data:image/svg+xml; utf8, <svg width='24' height='24' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><title>youtube</title><path d='M48 14.415c0-3.95-3.21-7.15-7.173-7.15H7.173C3.21 7.266 0 10.466 0 14.416v19.17c0 3.95 3.21 7.15 7.173 7.15h33.654c3.962 0 7.173-3.2 7.173-7.15v-19.17zM19.2 32.088V14.082l13.708 9.003L19.2 32.088z' fill='rgba(0,0,0,1)' fill-rule='evenodd'/></svg>");
        }
    }
}
